* {
    font-family: Tahoma, Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    background: rgb(118, 171, 179);
    color: white;
    text-shadow: 1px 1px gray;
    text-align: center;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-weight: bold;
    font-size: 2.5em;
}

h3 {
    font-size: 1.5em;
}

h1, h2, h3 {
    text-transform: uppercase;
}

h1, h2, h3, p {
    padding-left: 10px;
}

a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1em;
}

header {
    width: 100%;
    display: flex;
    background: white;
    padding: 10px;
}

.logo img {
    width: 200px;
    background-color: white;
}

nav {
    background: white;
    display: flex;
    flex-wrap: wrap;
    right: 50px;
    position: absolute;
    align-items: center;
}

.nav-item {
    margin: 10px;
    height: 50px;
    background: white;
    align-items: center;
}

.nav-item a {
    color: rgb(99, 144, 151);
    background: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

#carousel img {
    width: 100%;
}

#carousel #carousel-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    padding-top: 300px;
    text-shadow: 2px 2px gray;
}

#introduction {
    background:  rgb(218, 231, 233);
    color: rgb(34, 83, 151);
    text-shadow: 1px 1px rgb(255, 255, 255);
    padding: 20px;
}

#introduction p {
    font-size: 1.25em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#main div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    flex: 0 0 33%;
}

#main img {
    width: 40%;
    height: calc(width*2);
    background-size: cover;
} 

#main #text {
    width: 40%;
    align-self: flex-end;
}

#main a {
    color:rgb(34, 83, 151);
    text-decoration: underline;
}

#seasons div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#seasons img {
    width: 450px;
    height: 300px;
    background-size: cover;
    
}

#seasons div a {
    position: absolute;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 1px 1px gray;
}